/* Mobile First */
body{
  background: url(../images/sign.png);
  background-size: cover;
  background-color: #cccccc;
}

#mainContent {
  margin: auto;
  font-size: 16px;
  width: 75%;
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.65);
  color: #fff;
  border-radius: 2px;
}

#mainContent nav li a{
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
  color: #006bb3;
  width: 24%;
  padding: 20px 0;
}

#mainContent nav li a:hover {
  color: #2AD2C9;
}

#mainContent nav li a#on {
  color: #2AD2C9;
}

#mainContent .quick-menu{
  width:18%;
}

#mainContent #settings-icon{
  margin: 0 5px;
  padding: 5px;
  width: 45px;
}

#mainContent #settings-icon img{
  margin-top: 4px;
  height: 45px;
  width: 45px;
  display: block;
}

#mainContent h1{
  clear: both;
  padding: 10px 5px;
  font-size: 30px;
  background-color: #fff;
  color: #000;
  border-bottom: 5px solid #2AD2C9;
}

#mainContent .flash{
  text-align: center;
  width: 100%;
  display: block;
  padding: 20px 0;
  color: #000;
}

#mainContent #success{
  background-color: #66e0ff;
}

#mainContent #error{
  background-color: #cc0066;
}

#views{
  padding: 20px;
  overflow: hidden;

}

#views h2{
  clear:both;
  text-align: center;
  padding: 2em;
  font-size: 23px;
}

#mainContent input{
  width: 100%;
  display: block;
  padding: 1em 0;
  margin: 1em 0;
  overflow: hidden
  border: 1px solid red;
}

#views .submit{
  display: block;
  font-size: 18px;
  width: 80%;
  margin: 2em auto;
  padding: 15px;
  background: #006bb3;
  border: none;
  border-radius: 10px;
}

#views article {
  clear:both;
  background: rgba(158, 122, 85, 0.85);
  margin: 20px;
  padding: 20px;
  color:  #000;
  overflow: hidden;
}

form hr{
  margin: 40px 0;
}
article h4{
  font: small-caps 30px 'Marker Felt';
}
article h4 a{
  text-decoration: none;
  color: #000;
}

article p{
  font-size:18px;
  line-height: 1.2em;
  margin: 20px 0 0;
}

article .large-type{
  font-size: 1.6em;
  text-align: center;
}

#views article .rating {
  font: small-caps 20px 'Marker Felt';
}

#views .button{
  font-size: 20px;
  float: right;
  width: 100%;
  border: 2px solid #2AD2C9;
  box-shadow: 0 0 0 2px skyblue;
  text-align: center;
  text-decoration: none;
  background: #006bb3;
  color: #2AD2C9;
  padding: 15px 0;
  border-radius: 15px;
  margin-top: 20px;
}

#views .button:hover{
  background: #2AD2C9;
  color: #006bb3;
  cursor: pointer;
}
#views #create_new{
  overflow: hidden;
  margin: 0 20px;
  padding:2px;
}
#views #create_new .button{
  width: 98%;
  margin: 0;
}
/* For tablets: */
@media only screen and (min-width: 600px) {

  #mainContent nav li a{
    float: right;
  }

  #mainContent .quick-menu{
      width: 15%;
  }

  #mainContent .menu-item{
      width: 20%;
  }

/* For desktop: */
@media only screen and (min-width: 768px) {

   #mainContent nav li a{
     float: right;
   }
   #mainContent .menu-item{
     width:12%;
   }
   #mainContent .quick-menu{
       width: 10%;
   }
   #views #create_new .button{
     width: 140px;
   }
   #views .editButton{
       width: 160px;
       margin-right: 20px;
       padding: 10px;
   }
}
