<h2>My Beer Ratings</h2>
<p id="create_new"><a href="/beers/new" class="button">Add a Beer</a></p>
<% if user.beers.empty?%>
  <article>
    <p class="large-type"> You havent rated any beers yet!</p>
  </article>
<% else %>
  <% user.beers.each do |beer| %>
    <article>
      <h4><a href="/beers/<%= beer.slug %>"><%= beer.name %></a></h4>
      <p><%= beer.description %></p>
      <p class="rating">â­ Raiting: <span><%= overall_rating(beer)%></span></p>
    </article>
  <% end %>
<% end %>
