<form action="/beers" method="POST">
  <label for="name">Name of Beer:</label>
  <input type="text" name="name" id="name">
  <label for="description">Description:</label>
  <input type="text" name="description" id="description">
  <input type="submit" value="Add Beer" class="button editButton">
</form>
